.container{
    margin-top: 1.5rem;
    background-image: url('../../images/bimg1.svg');
    background-size: contain;
}
.bimg{

  filter: opacity(0.2);
  z-index: 1;
  display: block;
}

.heading{
    font-size: 4rem;
    color: black;
    text-align: center;
}

.aboutContainer{

    padding: 5rem 0 0;
}

.about{
    display: flex;
    flex-direction: row;
}

#about1{
    position: relative;
}
.aboutContent{
    padding: 1.5rem;
    font-size: 2rem;
    flex-grow: 2;

}

.firstLetter{
    color:rgb(207, 38, 38);
    font-size: 4rem;
    font-weight: bolder;
}

.image{
   max-width: 30rem;
   max-height: 26rem;
   height: auto;
   width: 100%;
   border-radius: 1.2rem;
}

@media only screen and (max-width: 700px)  {
    .about{
        flex-wrap: wrap;
    }

    .image{
        max-width: 100%;
        max-height: 20rem;
        width: auto;
    }

    #about1{
        flex-direction: column-reverse;
    }

    .aboutContent{
        font-size: 1.2rem;
        text-align: center;
    }

    .firstLetter{
        font-size: 2.5rem;
    }

}
