@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
 font-family: 'Urbanist';
}

@media screen and (max-width: 700px) {
    
}