.teamContainer{
    padding: 7rem 0 0;  
   
}

.teamCards{
    display: flex; 
    flex-wrap: wrap;
    padding: 2rem 0 0;
    justify-content: space-evenly;
    width: 100%; 
}

.teamHeading{
    text-align: center;
    font-size: 3rem;
}