.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.199);
    border-bottom: 1px solid #00000017;
    background-color: white;
    z-index: 99;
    justify-content: space-between;
}

.navLinks{
    display: flex;

}

.navLink{
    font-weight:700;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3rem;
    margin: 0 9px;
}

.navLink:link, .navLink:visited{
    color: black;
}

.navLink:hover{
    color: brown;
}


.autofix{
    padding: 9px 24px;
}



