.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 8rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 20, 42);
    color: white;
}
